node_modules/
dist/

*.log
.DS_Store
coverage/
.vscode/
.idea/

/src/generated/prisma

# Environment files
.env
.env.*
.env.local
.env.development
.env.production
.env.producao
.env.prod
!.env.example
